torch>=2.4.1
torchvision>=0.19.1
tensorflow>=2.18,<2.19
keras>=3.5.0
onnxruntime>=1.22.0
numpy<2.1.0
opencv-python>=4.11.0
pillow>=11.2.1
Wand>=0.6.13
pandas>=2.2.3
PyQt5>=5.15.11
pyexiftool>=0.5.6
rawpy>=0.25.1
requests>=2.32.3
